.intro {
  background: var(--color-theme-highlight-block);

  &__summary {
    --flow-space: #{get-size(500)};
    font-size: get-size(500);

    a {
      color: currentColor;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__heading {
    max-width: 40ex;
    color: var(--color-theme-feature-text);

    &--compact {
      max-width: 20ex;
    }
  }
}

// @media (prefers-color-scheme: dark) {
//   .intro {
//     background-image: radial-gradient(rgba(137, 66, 126, 0.5), rgba(29, 59, 122, 0.5));
//     background-size: cover;
//   }
// }
